:root {
  --corFundo: #0f0f0f;
  --corSections: #272727;
  --bordas: #303030;
  --corFonte: #f1f1f1;

  --estiloFonte: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tamanhoTitulo1: 40px;
  --tamanhoParagrafos: 16px;
  --tamanhoBotoes: 14px;
}

body {
  background-color: var(--corFundo);
  color: var(--corFonte);
  font-family: var(--estiloFonte);
  font-size: var(--tamanhoParagrafos);
}

section {
  background-color: var(--corSections);
  border-radius: 4px;
  padding: 10px;
  margin: 30px;
  min-width: 200px;
  min-height: 200px;
}
section div{
  margin: 0 auto;
}
h2 {
  width: fit-content;
  margin: 0 auto;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}
li {
  list-style: none;
}
.input{
  margin: 0 auto;
  width: 10rem;
  position: relative;
  height: 120px;
}
.cadastro{
  max-width: 350px;
  max-height: 200px;
  margin: 0 auto;
}
.pesquisa{
  max-width: 500px;
  margin: 20px auto;
}
.pesquisa a, .cadastro a {
  background-color: var(--corFundo);
  padding: 5px;
  margin: 20px;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  
}
.pesquisa a:active, .cadastro a:active {
  background-color: var(--corFonte);
  
}


@media only screen and (min-width: 660px) {
  ul {
    grid-template-columns: repeat(3, 0.5fr);
  }

  .pesquisa-titulo p {
    text-align: center;
    height: fit-content;
  }
}
@media only screen and (min-width: 1340px) {
  ul {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

.botao-cadastrar,
.pesquisa-titulo,
.pesquisar-input {
  max-width: fit-content;
  max-height: fit-content;
  height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 200px;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  position: relative;
}

.imagem {
  min-width: 200px;
  height: 177px;
  background-color: #000000;
  display: flex;
  border-radius: 8px;
  opacity: 1;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.card:hover .imagem {
  opacity: 1;
}
.imagem img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  max-width: 100%;
  max-height: 200px;
  margin: 2px auto;
}
.card:hover img {
  opacity: 0.3;
  transition: 0.5s ease;
  backface-visibility: hidden;
  max-width: 100%;
  max-height: 200px;
  margin: 2px auto;
}

.informacoes {
  position: absolute;
  max-width: 200px;
  opacity: 0.3;
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}
.card:hover .informacoes {
  transition-duration: 800ms;
  opacity: 0.8;
}
.informacoes .titulo {
  display: flex;
  justify-content: center;
  max-height: 8rem;
}
.informacoes p {
  max-width: 100%;
  height: 50px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  position: relative;
  line-height: 1.6em;
  max-height: 8em; /* aqui vc controla a altura da caixa de texto */
  text-align: center;
}

.detalhes {
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
}

.tamanho-fonte-titulo {
  font-size: var(--tamanhoTitulo1);
}

.tamanho-fonte-normal {
  font-size: var(--tamanhoParagrafos);
}

.botoes a {
  display: flex;
  justify-content: center;
  font-size: var(--tamanhoBotoes);
  background-color: var(--corFundo);
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  max-height: 30px;
  width: 30px;
}
.botoes {
  position: absolute;
  top: 79%;
  left: 23%;
}
a:active {
  background-color: var(--corFonte);
  color: var(--corFundo);
}

input {
  border-radius: 4px;
  width: 150px;
  height: 20px;
  margin: 0 5px;
}
.botoes {
  display: flex;
  flex-wrap: nowrap;
}
.favoritou {
  background-color: red;
}
.botao-cadastrar{
  width: 68%;
}
